.voeux {
	position: absolute;
	animation-name: volet;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}

.video {
	padding-top: 15%;
	padding-left: 25%;
}
@keyframes volet {
	from {}
	60% {
	transform: none}
	to {
	transform: translate3d(0, -100%, 0); 
	}
}
@keyframes progres{
	from {
	oppacity: 1;
	}
	to {
	oppacity: 0;
	}
}

