.voeux {
	position: absolute;
	animation-name: volet;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}

@keyframes volet {
	from {}
	60% {
	transform: none}
	to {
	transform: translate3d(0, -100%, 0); 
	}
}
@keyframes progres{
	from {
	oppacity: 1;
	}
	to {
	oppacity: 0;
	}
}
svg {
	width: 100vw;
	height: 100vh;
}
video {
	width: 100vw;
	height: 100vh;
}
